* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  overflow-x: hidden;
  text-align: center;
}

.container {
  position: relative;
  display: block;
  max-width: 90%;
  margin: auto;
}

h1 {
  font-size: 80pt;
  margin-top: 15%;
}

h6 {
  margin-top: 50px;
  font-size: 40pt;
}
